<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/elementUI/elementUI.css"/>
    <style>
        a{
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>

<div id="app">
    <el-container>
        <!-- 内容显示区-->
        <el-main>
            <div style="text-align: center">
                <h1 style="color: #3a8ee6">计费</h1>
            </div>
            <div class="totalBill" style="margin-bottom:20px;text-align: center">
                <el-table :data="totalData"
                          highlight-current-row
                          style="width:100%">
                    <el-table-column prop="totalReceived" label="总收入金额" align="center">
                    </el-table-column>
                    <el-table-column prop="totalPaid" label="总支出金额" align="center">
                    </el-table-column>
                    <el-table-column prop="totalCount" label="总交易笔数" align="center">
                    </el-table-column>
                </el-table>
                <el-form :inline="true" label-width="80px" style="text-align: center;margin-top: 30px">
                    <el-form-item label="起始日期:">
                        <el-input prefix-icon="el-icon-search" v-model="startDateStr"></el-input>
                    </el-form-item>
                    <el-form-item label="终止日期:">
                        <el-input prefix-icon="el-icon-search" v-model="endDateStr"></el-input>
                    </el-form-item>
                    <el-button type="primary" size="" @click="findBill" icon="el-icon-search">查找</el-button>
                </el-form>
            </div>
            <el-table :data="billData"
                      highlight-current-row
                      border
                      style="width:100%">
                <el-table-column prop="tradeDate" label="交易日期" align="center">
                </el-table-column>
                <el-table-column prop="tradeTime" label="交易时间" align="center">
                </el-table-column>
                <el-table-column prop="paid" label="支出" align="center">
                </el-table-column>
                <el-table-column prop="income" label="收入" align="center">
                </el-table-column>
                <el-table-column prop="billInfo" label="交易备注" align="center">
                </el-table-column>
            </el-table>
            <!-- 分页区 -->
            <el-pagination style="margin: 20px auto;" background
                           layout="prev,pager,next,sizes,total,jumper "
                           :current-page="pageNum"
                           :page-size="pageSize"
                           :pager-count=5
                           :page-sizes=[3,5,10]
                           :total="total"
                           @current-change="currentChange"
                           @size-change="sizeChange">
            </el-pagination>
        </el-main>
    </el-container>
</div>
</body>
</html>

<!--Axios-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--vue.js 必须在elementUI.js之前导入-->
<script src="../js/vue/Vue.js"></script>
<!--使用ajax 需要导入-->
<script  src="../js/vue/vue-resource.js"></script>
<script src="../js/elementUI/elementUI.js"></script>
<script src="../js/vue/axios.min.js"></script>
<script src="../js/page_Js/publicService/billList.js"></script>
