<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业列表</title>
    <link rel="stylesheet" href="../css/elementUI/elementUI.css"/>
    <style>
        a {
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>

<div id="app">
    <div style="height: 30px;width: 100% ;font-size: 30px;text-align: center;color: #409EFF">企业列表</div>
    <el-container>


        <!-- 内容显示区-->
        <el-main>

            <el-table :data="tableData"
                      highlight-current-row
                      style="width:100%"
            >
                <el-table-column prop="companyName" label="企业名称">
                </el-table-column>
                <el-table-column prop="companyLoginName" label="登录名">
                </el-table-column>
                <el-table-column prop="companyLinkMan" label="联系人">
                </el-table-column>
                <el-table-column prop="companyPhone" label="联系电话">
                </el-table-column>

                <el-table-column label="操作" width="300px">
                    <template slot-scope="scope">


                        <el-button type="danger"
                                   size="mini"
                                   type="danger"
                                   @click="handleDelete(scope.$index, scope.row)"
                                   icon="el-icon-delete">删除
                        </el-button>
                    </template>

                </el-table-column>
            </el-table>
            <!-- 分页区 -->
            <el-pagination style="margin: 20px auto;" background
                           layout="prev,pager,next,sizes,total,jumper "
                           :current-page="currentPage"
                           :page-size="pageSize"
                           :pager-count=5
                           :page-sizes=[3,5,10]
                           :total="total"
                           @current-change="currentChange"
                           @size-change="sizeChange"
            >
            </el-pagination>
            <!-- 按钮区-->
            <div class="main_button" style="margin-bottom:30px">
                <el-button style="margin-bottom: 40px;" type="primary" size="mini" icon="el-icon-plus">
                    <a href="addCompany.html">添加新企业</a>
                </el-button>

                <el-form :inline="true" label-width="80px">
                    <el-form-item label="企业名称:">
                        <el-input prefix-icon="el-icon-search" v-model="companyName"></el-input>
                    </el-form-item>
                    <el-form-item label="楼层位置:">
                        <el-input prefix-icon="el-icon-search" v-model="companyAddress"></el-input>
                    </el-form-item><br>
                    <el-form-item label="联系人:">
                        <el-input prefix-icon="el-icon-search" v-model="companyLinkMan"></el-input>
                    </el-form-item>
                    <el-form-item label="联系电话:">
                        <el-input prefix-icon="el-icon-search" v-model="companyPhone"></el-input>
                    </el-form-item>
                </el-form>
                <el-button type="primary" size="mini" @click="seach" icon="el-icon-search">查找</el-button>
            </div>
        </el-main>

    </el-container>
</div>
</body>
</html>
<!--vue.js 必须在elementUI.js之前导入-->
<script src="../js/vue/Vue.js"></script>
<!--使用ajax 需要导入-->
<script src="../js/vue/vue-resource.js"></script>
<script src="../js/elementUI/elementUI.js"></script>
<script src="../js/page_Js/main/showAllCompany.js"></script>
