<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../css/elementUI/elementUI.css"/>
  <link rel="stylesheet" href="../css/page_css/main/update.css">
</head>
<body>

     <h1 align="center" style="color: #409EFF">企业信息修改页面</h1>
  <div id="app">
      <el-container>
        <el-main>
         <el-row>
              <el-col :span="24" style="overflow: hidden">
              <div class="top" style="margin-top:50px">
              <el-form  label-width="170px">


                  <el-form-item label="新企业登陆名:">
                      <el-input  prefix-icon="el-icon-suitcase"  v-model="companyLoginName" placeholder="请输入您的职业描述"  clearable></el-input>
                  </el-form-item>


                  <div id="pwdDiv">
                      <el-form-item label="新企业登录密码:">
                          <el-input prefix-icon="el-icon-key"  type="password" v-model="pwd" placeholder="请输入您的密码" showpassword></el-input>
                      </el-form-item>
                  </div>

                  <el-form-item label="新企业联系人:">
                      <el-input  prefix-icon="el-icon-user"  v-model="contact" placeholder="请输入您的职业描述"  clearable></el-input>
                  </el-form-item>




                  <el-form-item label="新企业联系人电话号码:">
                      <el-input  prefix-icon="el-icon-mobile"  v-model="contactPhone" placeholder="请输入您的邮箱地址"  clearable></el-input>
                  </el-form-item>


                  <el-form-item style="margin-top:50px;">
                       <el-button   @click="update" type="primary" style="margin-right: 50px;">修改</el-button>
                        <el-button  @click="cancle" type="danger">取消</el-button>
                        </el-form-item>
                </el-form>
               </div>
              </el-col>
          </el-row>
         </el-main>
      </el-container>




   </div>
     <!--vue.js 必须在elementUI.js之前导入-->
     <script src="../js/vue/Vue.js"></script>
     <!--使用ajax 需要导入-->
     <script  src="../js/vue/vue-resource.js"></script>
     <script src="../js/elementUI/elementUI.js"></script>
     <script  src="../js/page_Js/main/updateCompanyUser.js"></script>


</body>
</html>



