<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!--vue.js 必须在elementUI.js之前导入-->
    <script src="../js/vue/Vue.js"></script>
    <!--使用ajax 需要导入-->
    <script  src="../js/vue/vue-resource.js"></script>
    <script src="../js/elementUI/elementUI.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../css/elementUI/elementUI.css"/>
    <link rel="stylesheet" href="../css/page_css/main/add.css">

</head>
<body>



<div id="app" >
    <div style="height: 30px;width: 100% ;font-size: 30px;text-align: center;color: #409EFF">续约外部合约</div>
    <el-container>
        <el-main>
            <el-row>
                <el-col :span="24" style="overflow: hidden">
                    <div class="top" style="float: left" >
                        <el-form  label-width="120px" >
                            <el-form-item label="原合同编号:">
                                <el-input  prefix-icon="el-icon-user"  placeholder="请输入原合同编号"  v-model="oldContractNo" ></el-input>
                            </el-form-item>

                            <el-form-item label="新合同编号:">
                                <el-input prefix-icon="el-icon-date"   placeholder="请输入新合同编号 "  v-model="contractNo"></el-input>
                            </el-form-item>

                            <el-form-item label="对方联系人:">
                                <el-input prefix-icon="el-icon-date"   placeholder="请输入对方联系人 "  v-model="linkMan"></el-input>
                            </el-form-item>

                            <el-form-item label="对方联系人电话:">
                                <el-input prefix-icon="el-icon-date"   placeholder="请输入对方联系人电话 "  v-model="phone"></el-input>
                            </el-form-item>
                            <el-form-item label="合同生效日期:"  >
                                <el-date-picker
                                        v-model="startDate"
                                        type="date"
                                        placeholder="选择日期"  >
                                </el-date-picker>
                            </el-form-item>
                            <el-form-item label="合同失效日期:" >
                                <el-date-picker
                                        v-model="endDate"
                                        type="date"
                                        placeholder="选择日期">
                                </el-date-picker>
                            </el-form-item>
                            <el-form-item label="成交价格:" >
                                <el-input  prefix-icon="el-icon-user"   placeholder="请输入成交价格" v-model="dealPrice"></el-input>
                            </el-form-item>

                            <el-form-item label="合同图片:"  id="file">
                                <el-upload
                                        class="upload-demo"
                                        action="http://localhost:8888/file"
                                        :on-preview="handlePreview"
                                        :on-remove="handleRemove"
                                        :file-list="fileList"
                                        list-type="picture">
                                    <el-button size="small" type="primary">点击上传</el-button>
                                    <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                                </el-upload>
                            </el-form-item>


                            <el-form-item >
                                <el-button   @click="add" type="primary" style="margin-right: 50px;">续约</el-button>
                                <el-button  @click="cancle" type="danger">取消</el-button>
                            </el-form-item>


                        </el-form>
                    </div>



                </el-col>

            </el-row>
        </el-main>
    </el-container>

</div>

<!--AJAX-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 获取参数使用-->
<script src="../js/vue/paragram.js"></script>
<script>
    new Vue( {
        el:"#app",
        data:{

            disabledDate(time) {
                return time.getTime() > Date.now();
            }, startDate: '',
            disabledDate(time) {
                return time.getTime() > Date.now();
            }, endDate: '',
             oldContractNo:'',
             contractNo:'',
             linkMan:'',
             phone:'',
            bothParties:'',
             dealPrice:'',
             imageUrl:'',
             id:'',
             fileList: []

        },

        created:function(){
            /*获取参数Id*/
            let requestObj = GetRequest();
            this.id=requestObj['oId'];
            //查询详细信息
            this. getInfo(this.id);

        },

        methods: {
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            }, //发送ajax
            getInfo(id){
                axios.get('../../outContract/findById',{params:{id:id}

            }).then(function(result){

                console.log(result.data.unit);
                this.startDate=result.data.startDate;
                this.endDate=result.data.endDate;
                this.oldContractNo=result.data.outContractNo;
                this.linkMan=result.data.linkMan;
                this.dealPrice=result.data.dealPrice;
                this.phone=result.data.bothParties;
                this.id=result.data.id;
            }.bind(this));},

        //     fileUpload: function () {
        //         var _this = this;
        //         var formData = new FormData();
        //         formData.append("fileName", $("input[name='uploadFile']")[0].files[0]);
        //         axios({
        //             method: "post",
        //             url: "/file",
        //             data: formData,
        //             headers: {
        //                 'Content-Type': 'multipart/form-data'  // 文件上传
        //             },
        //         }).then(function (response) {
        //             console.log(response);
        //             alert(response.data.val);
        //         }).catch(function (reason) {
        //
        //         })
        //     },
        //
        // },
            add(){
                //发送ajax
                axios.post('../../outContract/goOn',{
                    id:this.id,
                    oldContractNo:this.oldContractNo,
                    contractNo:this.contractNo,
                    linkMan:this.linkMan,
                    dealPrice:this.dealPrice,
                    bothParties:this.phone,
                    startDate:this.startDate,
                    endDate:this.endDate,
                    contractImg:"picture"+Math.round(new Date() / 1000)
                }).then(function(result){
                    if(result.data=="ok"){
                        this.alert('续约成功',{
                            title:"消息提示",
                            confirmButtonText: '确定',
                            type:'success',
                            center: true
                        });
                        window.location.href="showAllOutContract.html";
                    }else{
                        this.alert('续约失败', {
                            title:"消息提示",
                            confirmButtonText: '确定',
                            type:'error',
                            center: true
                        });
                    }

                })

            },
            cancle(){
                window.history.go(-1);
            },
        }
    })


</script>


</body>
</html>