<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--vue.js 必须在elementUI.js之前导入-->
    <script src="../js/vue/Vue.js"></script>
    <!--使用ajax 需要导入-->
    <script  src="../js/vue/vue-resource.js"></script>
    <script src="../js/elementUI/elementUI.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../css/elementUI/elementUI.css"/>
    <link rel="stylesheet" href="../css/page_css/main/add.css">
</head>
<body>

<div id="app"  >
    <div style="height: 30px;width: 100% ;font-size: 30px;text-align: center;color: #409EFF">车位管理</div>

    <el-container style="width: 750px">

        <!--内容显示区-->
        <el-main>

            <el-table :data="tableData"
                      border
                    size="medium">
<!--                      style="width:150%"-->

                <el-table-column prop="stallNo" label="车位编号">
                </el-table-column>
                <el-table-column prop="stallAddress" label="车位地址">
                </el-table-column>
                <el-table-column prop="state"   label="车位状态">

                    <template scope="scope">
                        <p v-if="scope.row.state=='0'">空闲中</p>
                        <p v-if="scope.row.state=='1'">出租中</p>

                    </template>
                </el-table-column>

            </el-table>
            <!-- 分页区 -->
            <el-pagination style="margin: 20px auto;" background
                           layout="prev,pager,next,sizes,total,jumper "
                           :current-page="currentPage"
                           :page-size="pageSize"
                           :pager-count=5
                           :page-sizes=[3,5,10]
                           :total="total"
                           @current-change="currentChange"
                           @size-change="sizeChange"
            >
            </el-pagination>





                        <div class="main_button" style="margin-bottom:30px">




                            <el-form :inline="true" label-width="80px">
                                <el-form-item label="车位地址:">
                                    <el-input prefix-icon="el-icon-search" v-model="address"></el-input>
                                </el-form-item>
                                <el-form-item label="车位编号:">
                                    <el-input prefix-icon="el-icon-search" v-model="no" ></el-input>
                                </el-form-item><br>
                                <el-button type="primary" size="mini" @click="seach" icon="el-icon-search" style="margin-left: 40px">查找</el-button>
                                <el-button type="primary" size="mini" @click="add" icon="el-icon-search" style="margin-left: 110px">添加车位</el-button>
                            </el-form>
                        </div>
        </el-main>
    </el-container>
</div>


<!--AJAX-->
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script src="../js/page_Js/main/showAllStall.js"></script>
<!--<script type="text/javascript">-->

<!--    // //使用post发送ajax时需要设置-->
<!--    // Vue.http.options.emulateJSON = true;->-->

<!--    //测试对象包含对象的数据-->
<!--      var tableData=[{stallAddress :'天府一街cbd',stallNo:'TF548',stallState:0},-->
<!--         {stallAddress :'天府一街cbd',stallNo:'TF528',stallState:1}];-->
<!--    new Vue({-->
<!--        el:"#app",-->
<!--        data(){-->
<!--            return {-->
<!--            stallAddress:"",-->
<!--            stallNo:"",-->
<!--            stallState:"",-->
<!--            tableData:[],-->
<!--            pageSize:3,-->
<!--            total:0,-->
<!--            currentPage:1,-->
<!--            }}-->
<!--        ,-->
<!--        //在vue被实例化之后-->
<!--        created:function(){-->
<!--            //调用getdatas()方法-->
<!--            this.getDatas(this.currentPage,this.pageSize);-->
<!--        },-->
<!--        methods:{-->
<!--            /*查找按钮事件*/-->
<!--            seach:function(){-->
<!--                this.getDatas(this.stallAddress,this.stallNo,this.currentPage,this.pageSize);-->
<!--            },-->
<!--            /*改变当前页数*/-->
<!--            currentChange:function(curNum){-->
<!--                this.getDatas(curNum,this.pageSize);-->
<!--            },-->
<!--            /*改变每页显示条数*/-->
<!--            sizeChange:function(pSize){-->
<!--                this.getDatas(this.currentPage,pSize);-->
<!--            },   /*查询数据*/-->
<!--            getDatas:function(stallAddress,stallNo,currentPage,pageSize){-->
<!--                //发送ajax-->
<!--                axios.get('../../stall/findByItems',{params:{-->
<!--                    stallAddress:this.stallAddress,-->
<!--                    stallNo:this.stallNo,-->
<!--                    currentPage:currentPage,-->
<!--                    pageSize:pageSize,-->
<!--                }}).then(function(result){-->
<!--                    console.log(result.body);-->
<!--                    //设置分页控件的值-->
<!--                    this.tableData=result.body.dataList;-->
<!--                    this.pageSize=result.body.pageSize;-->
<!--                    this.currentPage=result.body.currentPage;-->
<!--                    this.total =result.body.total;-->
<!--                    console.log(this.total+"&#45;&#45;&#45;&#45;total")-->

<!--                });-->
<!--            },-->
<!--            add(){-->

<!--                window.location.href="addStall.html";-->

<!--            }-->

<!--        }-->


<!--    })-->
<!--</script>-->

</body>
</html>