<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--vue.js 必须在elementUI.js之前导入-->
    <script src="../js/vue/Vue.js"></script>
    <!--使用ajax 需要导入-->
    <script  src="../js/vue/vue-resource.js"></script>
    <script src="../js/elementUI/elementUI.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../css/elementUI/elementUI.css"/>
    <link rel="stylesheet" href="../css/page_css/main/add.css">
</head>
<body>



<div id="app">

    <div style="height: 30px;width: 100% ;font-size: 30px;text-align: center;color: #409EFF">投诉管理</div>

    <el-container>

        <!--内容显示区-->
        <el-main>

            <el-table :data="tableData"
                      highlight-current-row
                      style="width:100%;margin-left: 20px"
            >
                <el-table-column prop="complainter"    label="投诉人" width="110px" >
                </el-table-column>
                <el-table-column prop="beComplainter"  label="被投诉人" width="110px">
                </el-table-column>
                <el-table-column prop="complaintDate"  label="投诉时间" width="110px">
                </el-table-column>
                <el-table-column label="操作" width="110px">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   @click="handleEdit(scope.$index, scope.row)"
                                   type="success"
                                   icon="el-icon-edit">查看和授理
                        </el-button>

                    </template>

                </el-table-column>

            </el-table>
            <!-- 分页区 -->
            <el-pagination style="margin: 20px auto;" background
                           layout="prev,pager,next,sizes,total,jumper "
                           :current-page="currentPage"
                           :page-size="pageSize"
                           :pager-count=5
                           :page-sizes=[3,5,10]
                           :total="total"
                           @current-change="currentChange"
                           @size-change="sizeChange"
            >
            </el-pagination>




<!--            按钮区-->
            <div class="main_button" style="margin-bottom:30px">

                    <el-form-item label="投诉时间：" >
                        <el-date-picker
                                v-model="startDate"
                                type="date"
                                placeholder="选择日期"  >
                        </el-date-picker>
                        <el-date-picker
                                v-model="endDate"
                                type="date"
                                placeholder="选择日期"  >
                        </el-date-picker>

                    </el-form-item><br>
                    <el-button type="primary" size="mini" @click="seach" icon="el-icon-search" style="margin-left: 180px">查找</el-button>
                </el-form>
            </div>
        </el-main>
    </el-container>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>


    var tableData = [{ complainter:'古巨基',
        beComplainter:'谢霆锋',complaintDate:'2020-05-06'},{ complainter:'农夫',
        beComplainter:'菊花',complaintDate:'2020-05-06'}];

     new Vue({
        el:"#app",
        data:{
             beComplainter:'',
             complainter:'',
             complaintDate:'',
                tableData:tableData,

        },
        //在vue被实例化之后
         created:function(){
             //调用getdatas()方法
             this.getDatas();
         },
        methods:{

            /*处理编辑按钮*/
            handleEdit:function(index,row){
                window.location.href="complaintInfo.html?id="+row.id;
            },

            /*查询数据*/
            getDatas: function () {

                axios.post("../../findAllComplaint"
                ).then(function (result) {

                    this.tableData = result.data.dataList;
                }.bind(this));

            }
        }


    })
</script>




</body>
</html>